extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/game.css")
  //- add page specific js

block content
    div(class="title")
        h1= game.gameTitle
    div(class="pic")
        img(src=`../images/${game.gameTitle}.jpg`)
    div(id='genreAndDescript')
      div(class="genre")
          p= `Genre: ${game.primaryGenre}`
      div(class="description")
          p= game.description 
    div(id="addShelf")
     label Add to shelf
     form(action=`/profile/${currentUser}` method="post"  id="shelfForm" )
       div
         select
             option(value='want_play' name='status') Want to play 
             option(value='have_played' name='status') Have Played
             option(value='currently_playing' name='status') Playing
         input(type='hidden' value=game.id  name='gameId')
         button(type='submit') Add
    div(id="writeRev")
     label Write a review: 
     form(action=`/games/${game.id}` method="post"  id="reviewForm" )
      div
       input(type="number" id='score' name='score' max='10' min='1' required)
       label(for="score") /10 
       textarea(id="content" name='content' cols="50" rows="5")
       button(type='submit') Post
    div(id="userRevs")
      label(id='space') Reviews:
      div(class='review')
       each review in game.Reviews
          div(id='userReview')
            a(href=`/profile/${review.usersId}`)= users[review.usersId]
            p= review.content
            p= '⭐'.repeat(review.score)
    script(src='/javascripts/index.js')