extends layout


append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/profile.css")
  //- add page specific js
//-   script(src="/javascripts/profile.js" type="module" defer)


block content
    div(class="color-wrapper")
        div(class="colorful")
        div(class="wrapper")
            div(class="prof-pic-div")
                img(id="pic")
            h2(class="gameshelves-title") Gameshelves
            h3(class="prof-name")= user.fullName
            div(class='buttons')
                div(class="playing-shelf")
                    each game in frontGameArray
                        if game.status === 'currently_playing'
                            div(class="shelfPreview")
                                button(class="shelf-btn" id="current" onclick=`window.location='/profile/${user.id}/currently_playing'`) Currently Playing
                                img(src=`/images/${game.Game.picture}` class="previewImg")
                div(class="played-shelf")
                    each game in frontGameArray
                        if game.status === 'have_played'
                            div(class="shelfPreview")
                                button(class="shelf-btn" id="played" onclick=`window.location='/profile/${user.id}/have_played'`) Have Played
                                img(src=`/images/${game.Game.picture}` class="previewImg")
                div(class="want-to-play-shelf")
                    each game in frontGameArray
                        if game.status === 'want_play'
                            div(class="shelfPreview")
                                button(class="shelf-btn" id="want" onclick=`window.location='/profile/${user.id}/want_play'`) Want to Play
                                img(src=`/images/${game.Game.picture}` class="previewImg")